POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=smile_bridge
POSTGRES_PORT=5433
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=smile_bridge
APP_PORT=3000
CORS_ORIGIN=http://localhost:5173
AUTH_COOKIE_SECURE=false
SESSION_IDLE_MINUTES=30
SESSION_ABSOLUTE_HOURS=12
BOOTSTRAP_OWNER_NAME=
BOOTSTRAP_OWNER_EMAIL=
BOOTSTRAP_OWNER_PASSWORD=